<div class="modal fade show" style="display:block;" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content orange-theme">

      <div class="modal-header">
        <h5 class="modal-title">Full Story Access</h5>
        <button type="button" class="btn-close"
                hx-get=""
                hx-target="#modals-here"></button>
      </div>

      <div class="modal-body">
        <p>To access the extended Premium content in this article you need to be a Subscriber.</p>
        <p>Make a Payment of $US25 via our Temporary Buymeacoffee link and we will upgrade you to Subscriber status.</p>
        <p>This will enable you to unlock full access and support the archive.</p>
      </div>

      <div class="modal-footer">
        <a href="https://buymeacoffee.com/davidlyon.producer" class="btn btn-success">
          Subscribe
        </a>

        <button class="btn btn-secondary"
                hx-get=""
                hx-target="#modals-here">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>