---
kind: video
entry_id: {{ entry_id }}
production_name: {{ production_name }}
renderer: remotion
---

# {{ production_title }}

[SHOW HERO IMAGE]

"""NARRATOR
Replace this with the opening narration.
"""